.pw-reset-container {
    border: solid green 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        max-width: 80%;
        text-indent: 2rem;
        padding: 0.5rem;
    }

    .pw-reset-card {
        width: max(50%, 350px);
        padding: 1rem;

        form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            input[type=email]{
                width:75%;
                padding:0.25rem;
                font-size: 1rem;
            }
            input[type=submit]{
                padding: 0.25rem 0.5rem;
                border-radius: 0.75rem;
                font-size: 1rem;
                background-color: lightgray;

                &:active {
                    background-color: rgb(150,150,150);
                    box-shadow: 0 0 0.5rem 0 black inset;
                }
            }
        }
    }
}