# https://docs.gitignore.io/

# file
core/secrets.py

# Thanks to https://github.com/toptal/gitignore/blob/master/templates/Django.gitignore

*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media