.grid-container {
    display: grid;
    width: 100%;
    padding: 1rem;
    grid-template-columns: 1fr 2fr;
    row-gap: 0.25rem;
}
.grid-container div:nth-child(even) {
    border-bottom: 2px dashed grey;
}