.task-details {
    background-color: ivory;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.placard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dumb-details {
    padding: 0.25rem;
}