.task-details {
    background-color: ivory;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.placard {
    width: 100%;
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dumb-details {
    padding: 0.25rem;
}
.dumb-details pre{
    padding: 0.5rem;
    white-space: pre-wrap;
    word-break: keep-all;
    border-radius: 0.25rem;
    background-color: ghostwhite;
    box-shadow: 0 0 0.25rem inset;
}