<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Forgotten Password</title>
</head>
<body>
    <p>Hello {{ username }},</p><br/>
    <p>
        This email was sent because you requested to reset your password.
        If you did not make this request, please ignore this email.
        Perhaps someone is trying to hack your account.
        In that case, I hope you went with a <b>strong password</b>
    </p>
    <p>
        If you did request to reset your password because you forgot it,
        please visit the following link: <a href="http://localhost:8000/i-forgot-my-password/{{ token }}">http://localhost:8000/i-forgot-my-password/{{ token }}</a>.
    </p>
    <p>
        Best regards,<br/>
        KSullDev Team
    </p>
</body>
</html>