{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="theme-color" content="#000000"/>
        <meta name="description" content="Web site created using create-react-app"/>
        <title>Bug Tracker</title>
        <script defer="defer" src="/static/js_react/build/static/js/{{ react_file }}"></script>
        <link href="/static/js_react/build/static/css/{{ style_file }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="backdrop-root"></div>
        <div id="modal-root"></div>
        <div id="root"></div>
    </body>
</html>