{% extends "bugtrackerui/base.html" %}
{% block content %}
        <h1>Did you forget your password?</h1>
        <h2>Don't sweat it, let's figure that out.</h2>
        <form method="post">
            {% csrf_token %}
            <label for="password_reset1">New Password:</label>
            <input type="password" name="password1" id="password_reset1" placeholder="New Password..." required/>
            <label for="password_reset2">Confirm Password:</label>
            <input type="password" name="password2" id="password_reset2" placeholder="Confirm Password..." required/>
            <input type="submit" value="Submit"/>
        </form>
{% endblock %}