$modal-background-colour: rgba(255, 0, 0, 0.687);

.backdrop {
    background-color: $modal-background-colour;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.overlay {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 105;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
    
    div {
        pre {
            white-space: pre-wrap;
            max-height: 50%;
            overflow-y: auto;
        }
    }

    .button-row {
        display: flex;
        justify-content: space-around;
        align-items: center;

        input {
            padding: 0.25rem;
        }
    }
}